<%- include( "partials/header" ); -%>

<h1>Thanks for submitting!</h1>

<p>
    If you entered your email we will mail you when we are ready for the gender reveal and when the twins arrive!
</p>

<h2><a href="">Baby Registry</a></h2>

<P>
    Something else.
</P>

<%- include( "partials/graphs" ); -%>

<%- include( "partials/footer" ); -%>